<header class="bg-body-tertiary pt-3 pb-md-3 px-3 px-lg-5 d-flex d-md-block title justify-content-center">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between mb-3" >
      <!-- Title -->
      <h1 class="start me-auto me-md-none h3 px-3">Patient Details</h1>
  
      <!-- Back Button -->
      <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2 px-3">
        <button type="button" class="btn btn-dark" [routerLink]="['/admin/patients']">Back</button>
      </div>
    </div>
</header>

<!-- Table List -->
<div class="card m-4">
    <div class="card-body">

        <!-- Patient Information Section -->
        <ng-container *ngIf="patients$ | async as patient">
            <div class="overflow-x-auto">
                <h4 class="pb-2 border-bottom mt-3">Personal Information</h4>
                <table class="table table-striped table-bordered table-hover text-nowrap mt-4">
                    <thead class="text-nowrap text-center">
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>{{ patient.firstName }} {{ patient.lastName }}</td>
                            <td>{{ patient.age }}</td>
                            <td>{{ patient.dateOfBirth | date: 'MM/dd/yyyy' }}</td>
                            <td>{{ patient.gender}}</td>
                            <td>{{ patient.phoneNumber }}</td>
                            <td>{{ patient.email}}</td>
                            <td>{{ patient.address}}</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="pb-2 border-bottom mt-5">Insurance Information</h4>
                <table class="table table-striped table-bordered table-hover text-nowrap mt-4">
                    <thead class="text-nowrap text-center">
                        <tr>
                            <th scope="col">Insurance Provider</th>
                            <th scope="col">Insurance Policy Number</th>
                            <th scope="col">Insurance Expiry Date</th>
                            <th scope="col">Insurance Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>{{ patient.insuranceProvider }}</td>
                            <td>{{ patient.insurancePolicyNumber }}</td>
                            <td>{{ patient.insuranceExpiryDate | date: 'MM/dd/yyyy' }}</td>
                            <td>{{ patient.insuranceDetails}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>    
        </ng-container>

        <!-- Appointment History Section -->
        <ng-container *ngIf="appointments$ | async as appointments">
            <div *ngIf="appointments.length > 0">
                <div class="overflow-x-auto">
                    <h4 class="pb-2 border-bottom mt-3">Appointment History</h4>
                    <table class="table table-striped table-bordered table-hover text-nowrap mt-4">
                            <thead class="text-nowrap text-center">
                                <tr>
                                    <th scope="col">Appointment Code</th>
                                    <th scope="col">Appointment Date</th>
                                    <th scope="col">Appointment Time</th>
                                    <th scope="col">Assigned Doctor</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Remarks</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let appointment of appointments">
                                    <td>{{ appointment.appointmentCode }}</td>
                                    <td>{{ appointment.appointmentDate | date:'M/d/yy' }}</td>
                                    <td>{{ appointment.appointmentTime}}</td>
                                    <td class="text-wrap">
                                        <span *ngFor="let doctor of appointment.doctors; let i = index">
                                        Dr. {{ doctor.firstName }} {{ doctor.lastName }} <span *ngIf="i < appointment.doctors.length - 1">,</span>
                                        </span>
                                    </td>
                                    <td>{{ appointment.status }}</td>
                                    <td>{{ appointment.remarks }}</td>
                                </tr>
                            </tbody>
                    </table>        
                </div>        
            </div>
        </ng-container>

    </div>
</div>
