.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 100%;
}

.chart:first-child {
  width: 35%; 
  height: auto; 
}

.chart:last-child {
  width: 60%; 
  height: auto; 
}

/* Responsive styles for tablet and mobile views */
@media (max-width: 768px) {
  .chart-container {
    flex-direction: column; 
    align-items: center;
  }

  .chart {
    width: 80%; 
    margin-bottom: 20px; 
  }
}