.chart-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto; 
  width: 90%; 
  max-width: 1200px; 
  height: auto; 
  padding: 20px; 
}

.chart {
  width: 100%; 
  height: auto;
}

/* Responsive styles for tablet and mobile views */
@media (max-width: 768px) {
  .chart-container {
    width: 95%; 
  }
}

@media (max-width: 480px) {
  .chart-container {
    display: none;
  }
}